fastapi>=0.110.0
uvicorn>=0.27.1
llama-index>=0.10.12
chromadb>=0.4.24
python-multipart>=0.0.9
pydantic-settings>=2.2.1
llama-index-vector-stores-chroma
llama-index-embeddings-gemini
llama-index-llms-gemini
python-dotenv>=1.0.1
